# To override these rules, create a .editorconfig file in your app.
# See http://editorconfig.org/

root = true

# Apply common styles for most standard code files, but not to:
#   *: that covers binary files as well
#   json: often contains machine-generated data
#   svg: can be removed if it's machine-generated
[*.{js,html,py,css,svg,yaml,yml,scss,sh,R}]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
# Stick to 2-space indenting by default, to conserve space
indent_style = space
indent_size = 2

[*.py]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4
